<?xml version='1.0' encoding='UTF-8'?>
<config>
    <game>
        <host serverType="1" serverId="1001" addr="127.0.0.1" port="6666" id="1"/>
        <!--<host serverType="1" serverId="1002" addr="127.0.0.1" port="7777" id="2"/>-->
    </game>

    <proxy>
        <host serverType="2" serverId="2001" addr="127.0.0.1" port="8888" id="1"/>
        <!--<host serverType="2" serverId="2002" addr="127.0.0.1" port="9999" id="2"/>-->
    </proxy>
</config>